.header-container img {
    width: 200px;
}

.header-container {
    display: flex;
    background: linear-gradient(#143f6b, #f55353)
}

p {
    margin-left: 10rem;
    font-size: 4rem;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .header-container img {
        width: 100px;
    }

    p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .header-container img {
        width: 90px;
    }

    p {
        font-size: 1.5rem;
    }
}